<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
">
    
    <bean name="orderRepository" class="ua.kiev.shad.repository.TestOrderRepository"> 
       
    </bean>

    <bean name ="pizzaRepository" class ="ua.kiev.shad.repository.TestPizzaRepository">
        <property name="pizzas">
            <list>
                <bean class = "ua.kiev.shad.domain.Pizza">
                    <constructor-arg value = "30" />
                    <constructor-arg value = "Vegetarian"/>
                    <!--<property name="price" value="30" />-->
                    <!--<property name = "pizzaType" value = "Vegetarian"/>--> 
                </bean>
                        
                <bean class = "ua.kiev.shad.domain.Pizza">
                    <constructor-arg value = "90" />
                    <constructor-arg value = "Sea"/>
                     <!--<property name="price" value="90" />-->
                     <!--<property name = "pizzaType" value = "Sea"/>-->
                </bean> 
                     
                <bean class = "ua.kiev.shad.domain.Pizza">
                    <constructor-arg value = "60" />
                    <constructor-arg value = "Meat"/>
                     <!--<property name="price" value="70" />-->
                     <!--<property name = "pizzaType" value = "Meat"/>-->
                </bean>
                    
            </list>
        </property>
    </bean>
    
<!--    <bean name="orderService" class="ua.kiev.shad.service.SimpleOrderService"> 
        <constructor-arg ref = "orderRepository"/>
        <lookup-method name = "createNewOrder" bean = "newOrder"/>
    </bean>
    
    <bean name="pizzaService" class="ua.kiev.shad.service.SimplePizzaService"> 
        <constructor-arg ref = "pizzaRepository"/>
    </bean>

    <bean name = "newOrder" scope = "prototype" class = "ua.kiev.shad.domain.Order">
        
    </bean>-->
</beans>
